/*base clases*/
.background-cl{
	background-color: #22B573;
	float:left;
}
.float-right{
	float:right;

}
.heder {
	width: : 90%;
	margin: 2% 5% 5% 2%;
}
.clear{
	clear: both;
}
/*heder*/

.navigation{
	vertical-align:middle;
	width: : 90%;
	margin: -2%;
}
.nav-ul {

	list-style: none;
}
.nav-li {
	display: inline-block;
	margin: 50px;

}
.nav-a{
	font-size: 250%;
}

/*section*/
.article-box {
background-color: #FCEE21;

}
.image-a{
float: right;
height: 10%;
width: 10%;

}

/*test*/
.image-wraper{
	height: 30%;
	vertical-align: top;
	margin-right: 6%;
	margin-top:2%; 

}
.wraper-p{
	width: 40%;
	vertical-align: right;
	color:#696969;
	text-align: left;
	padding: 10px;
	}
.wraper-title {
	margin-top:10%;
	

}
.dashoreba{
	margin-top: 2%;
}
.c-inline-block{
	display: inline-block;
	}
.container{
	width: : 117%;
	margin: 30% ;
}
}
.active-size{
	margin-right: 5px;

}