/*base clases*/
.background-cl{
	background-color: #22B573;
	float:left;
}
.float-right{
	float:right;
	
}
.containter {
	width: : 100%;
	margin: 2% 5% 5% 2%;
}
.clear{
	clear: both;
}
/*heder*/

.navigation{
	vertical-align:middle;
	width: : 100%;
	margin: -2%;
}
.nav-ul {

	list-style: none;
}
.nav-li {
	display: inline-block;
	margin: 36px;
	vertical-align:middle;
}
.nav-a{
	font-size: 250%;
}

/*section*/
.article-box {
width: 151px;
background-color: #FCEE21;

}
